.container{
	width: 80%;
	height: 200px;
	
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 5px;
}
.about{
	width: 100%;
	
}
.hr1{
	margin-left: 40%;

}

.img-round{
	border-radius: 15px;
	padding: 8px;
background-color: #FFF;
  border: 3px solid #B600FF;
}

.smalli{
	color: red;
	font-size: 1em;
	font-weight: bold;
}